<div class="auth-page">
  <h2 class="text-white text-center mb-4">Log in</h2>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: "form-label text-white" %>
            <%= f.email_field :email, autofocus: true, class: "form-control", "aria-label": "Email address", tabindex: 1 %>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: "form-label text-white" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", "aria-label": "Password", tabindex: 2 %>
          </div>

          <div class="mb-3 form-check text-white">
            <%= f.check_box :remember_me, class: "form-check-input", "aria-label": "Remember me on this device", tabindex: 3 %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>

          <%= f.submit "Log in", class: "btn btn-outline-light w-100", "aria-label": "Log in to account", tabindex: 4 %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>